header {
    background-color: turquoise;
    position: sticky;
    top: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: solid 1px black;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}
h4 {
    margin: 0;
}

footer {
    position: sticky;
    bottom: 0;
}